*{
    box-sizing: border-box;
}
.article-text{
    font-size: 20px;
}
.single-content .descript-wrap {
    position: relative;
    bottom: 0;
    margin-bottom: 15px;
}
.views{
    float: right;
    margin-right: 10px;
}
.single-content {
    background-color: #fff;
    border-radius: 2px;
    margin-bottom: 20px;
    padding: 23px;
    box-shadow: 0px 0px 14px 0px #28a745;
}
.single-img {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    max-width: 100%;
    vertical-align: middle;
    height: auto;
}
.single-content a:hover{
    text-decoration: none;
    color: black;
}
.single-content a{
    text-decoration: none;
    color: black;
}


